<h1>Add user to group <br/><%= @slurm_account %></h1>

<%= simple_form_for [@slurm_account, @slurm_association] do |f| %>
  <div class="row mb-3 string optional user_upn">
    <label class="col-sm-3 col-form-label string optional" for="user_upn">
      Email
    </label>
    <div class="col-sm-9">
      <input class="form-control string optional" type="text" name="upn"/>
    </div>
  </div>
  <div class="row mb-3 string optional user_upn">
    <label class="col-sm-3 form-check-label" for="user_upn">
      Manager role
    </label>
    <div class="col-sm-9">
      <input class="form-control form-check-input" type="checkbox" name="manager"/><br/>
      <hint>
      A user is <strong>manager</strong> if he/she can add and delete users in the HPC group.
      </hint>
    </div>
  </div>
  <%= f.submit "Add user"%>
<% end %>
