<h1>Users</h1>

<div class="my-2 text-end">
  <%= link_to "Addm new user", new_user_path, class: "btn btn-primary" %>
</div>

<div class="list-group">
  <% @users.each do |user| %>
    <%= link_to user, class: "list-group-item list-group-item-action" do %>
      <%= user %> <small>(<%= user.upn %>)</small>
    <% end %>
  <% end %>
</div>
