<h1>New Authorized Key</h1>

<%= simple_form_for [current_user, @authorized_key] do |f| %>
  <%= f.input :description %>
  <%= f.input :name, input_html: {rows: 10} %>
  <%= f.submit "Save" %>
<% end %>
