<% if @keys.any? %>
  <% @keys.each do |ak| %>
    <div class="dm-card">
      <div class="dm-card-header py-2">SSH Authorized Key: <i><%= ak.description %></i></div>
      <div class="dm-card-body">
        <div class="font-small"><%= ak.name %></div>
        <div class="text-end"><%= link_to_delete "Delete", [@user, ak] %></div>
      </div>
    </div>
  <% end %>
<% else %>
  <p class="alert alert-warning small my-3">
  No SSH Authorized Keys present.
  </p>
<% end %>
<%= link_to "Add new SSH Authorized Key", new_user_authorized_key_path(@user), class: "btn btn-primary" %>
